Xcursor.size: 24
Xcursor.theme: Hikari

*faceName: Hack Nerd Font:antialias=true
*faceSize: 12

XTerm.termName: xterm-256color
XTerm.vt100.metaSendsEscape: true

!Theme: Breeze
*background: rgb:23/26/27
*foreground: rgb:fc/fc/fc
!Black
*color0: rgb:23/26/27
*color8: rgb:7f/8c/8d
!Red
*color1: rgb:ed/15/15
*color9: rgb:c0/39/2b
!Green
*color2: rgb:11/d1/16
*color10: rgb:1c/dc/9a
!Yellow
*color3: rgb:f6/74/0
*color11: rgb:fd/bc/4b
!Blue
*color4: rgb:1d/99/f3
*color12: rgb:3d/ae/e9
!Magenta
*color5: rgb:9b/59/b6
*color13: rgb:8e/44/ad
!Cyan
*color6: rgb:1a/bc/9c
*color14: rgb:16/a0/85
!White
*color7: rgb:fc/fc/fc
*color15: rgb:ff/ff/ff
