@define-color backgroundColor #344454;	/* Blue */
@define-color moduleColor #161c22;		/* Black */


* {
	font-family: DroidSansM Nerd Font;
	font-size: 14px;
}

window#waybar {
	background: rgba(0,0,0,0);
	color: #fdf6e3;	/* Text color */
	border-radius: 0.5em
}

/* Powerline arrows */

#custom-right-arrow-dark {
	color: @moduleColor;
	background: @backgroundColor;
	font-size: 1.8em;
}

#custom-right-arrow-dark-t {
	color: @moduleColor;
	font-size: 1.8em;
}

#custom-left-arrow-dark {
	color: @moduleColor;
	background: @backgroundColor;
	font-size: 1.8em;
}

#custom-left-arrow-dark-t {
	color: @moduleColor;
	font-size: 1.8em;
}

#custom-right-arrow-light {
	color: @backgroundColor;
	background: @moduleColor;
	font-size: 1.8em;
}

#custom-left-arrow-light {
	color: @backgroundColor;
	background: @moduleColor;
	font-size: 1.8em;
}

/* Left */

#custom-arch-icon {
	color: #38afc4;
	background: @moduleColor;
	font-size:  1.5em;
	padding-left: 0.5em;
	padding-right: 0.25em;
	border-radius: 0.5em 0em 0em 0.5em;
}

#custom-fedora-icon {
	color: #38afc4;
	background: @moduleColor;
	font-size:  1.5em;
	padding-left: 0.5em;
	padding-right: 0.25em;
	border-radius: 0.5em 0em 0em 0.5em;
}

/* Workspaces */

#workspaces {
	background: @moduleColor;
}

#workspaces button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #fdf6e3;
}

#workspaces button.focused {
	color: rgb(27, 206, 116);
}
/* Hover effect */
#workspaces button:hover {
	padding-left: 0.6em;
	padding-right: 0.6em;

    background: rgba(50, 50, 50, 0.5);
	border: None;
}
/* Centre */

#window {
	background: rgba(0,0,0,0.5);
	border-radius: 1em;

	padding-left: 1em;
	padding-right: 1em;

	margin: 0.2em 1em;
}

/* Right */

#tray {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 1em;

	padding-left: 0.5em;
	padding-right: 0.5em;

	margin: 0.4em 0.5em;
}

#privacy {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 1em;

	padding-left: 0.5em;
	padding-right: 0.5em;

	margin: 0.4em 0.5em;
}

#mpris {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 1em;

	padding-left: 0.75em;
	padding-right: 0.75em;

	margin: 0.4em 0.5em;
}

#custom-wallpaper-changer {
	color: #9678b6;
	background: @moduleColor;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

#custom-network_traffic {
	color: #9678b6;
	background-color: @moduleColor;
}

#network {
	color: #38afc4;
	background: @moduleColor;
	padding-left: 0.25em;
	padding-right: 0.75em;
}

#pulseaudio {
	color: #E9B57D;
	background: @moduleColor;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#clock {
	color: #38afc4;
	background: @moduleColor;
	padding-left: 0.5em;
	padding-right: 1em;
}

#battery {
	color: #859900;
	background: @moduleColor;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

#custom-swaync {
	background: @moduleColor;
	padding-left: 5px;
	padding-right: 15px;
	font-size: 17px;
}

#custom-powerbutton {
	background: @moduleColor;
	padding-left: 0.25em;
	padding-right: 0em;
	font-size: 1.5em;
	border-radius: 0em 0.5em 0.5em 0em;
}
