@define-color backgroundColor rgb(52, 68, 84);  /* Blue */
@define-color moduleColor rgb(22, 28, 34);      /* Black */


* {
    font-family: DroidSansM Nerd Font;
    font-size: 14px;
}

window#waybar {
    color: rgb(253, 254, 227); /* Text color */
    background: rgba(0, 0, 0, 0);
    border-radius: 0.5em
}

/* Powerline arrows */

#custom-left-arrow-dark,
#custom-right-arrow-dark {
    color: @moduleColor;
    background: @backgroundColor;
    font-size: 1.8em;
}

#custom-left-arrow-dark-t,
#custom-right-arrow-dark-t {
    color: @moduleColor;
    font-size: 1.8em;
}

#custom-left-arrow-light,
#custom-right-arrow-light {
    color: @backgroundColor;
    background: @moduleColor;
    font-size: 1.8em;
}

/* Left */

#custom-arch-icon {
    color: #38afc4;
    background: @moduleColor;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.25em;
    border-radius: 0.5em 0em 0em 0.5em;
}

#custom-fedora-icon {
    color: #38afc4;
    background: @moduleColor;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.25em;
    border-radius: 0.5em 0em 0em 0.5em;
}

/* Workspaces */

#workspaces {
    background: @moduleColor;
}

#workspaces button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: rgb(253, 254, 227);
}

#workspaces button.active {
    color: rgb(27, 206, 116);
}

#workspaces button.focus {
    color: rgb(27, 206, 116);
}

#workspaces button:hover {
    padding-left: 0.6em;
    padding-right: 0.6em;

    background: rgba(50, 50, 50, 0.5);
    border: None;
}

/* Centre */

#window {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1em;

    padding-left: 1em;
    padding-right: 1em;

    margin: 0.2em 1em;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

/* Right */

#tray,
#privacy,
#mpris {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1em;

    margin: 0.4em 0.5em;
}

#tray,
#privacy {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#mpris {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

#custom-wallpaper-changer {
    color: #9678b6;
    background: @moduleColor;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#custom-network_traffic {
    color: #9678b6;
    background-color: @moduleColor;
}

#pulseaudio,
#clock,
#battery {
    background: @moduleColor;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#pulseaudio {
    color: #E9B57D;
}

#clock {
    color: #38afc4;
}

#battery {
    color: #859900;
}

#custom-swaync {
    background: @moduleColor;
    padding-left: 5px;
    padding-right: 15px;
    font-size: 17px;
}

#custom-powerbutton {
    background: @moduleColor;
    padding-left: 0.25em;
    padding-right: 0em;
    font-size: 1.5em;
    border-radius: 0em 0.5em 0.5em 0em;
}

